:root {
    --selection-color: #377FD5;
    --sub-selection-color: #C1EBF4;
}

html, body {
    overflow-x: hidden;
	font-family: "Cabin", sans-serif;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;

	background-color: var(--workspace-bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
	box-sizing: border-box;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li { list-style-type: none; }

hr {
	display: block;
	box-sizing: content-box;
	height: 0;
	border: 0;
	overflow: visible;
    border-top: 2px solid whitesmoke;
    margin: 24px 0;
}

input {font: inherit;margin: 0;}
input:focus, textarea:focus {outline: none;}
input::-webkit-inner-spin-button {-webkit-appearance: none;}

input[type="text"] {
	background-color: transparent;
	border: 0;

	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

*:not(textarea),
*:not([contenteditable=true]),
*:not(input) {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

img {
	max-width: 100%;
	max-height: 100%;
	border-style: none;

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

i {
	cursor: pointer;
}

/* auto web */

header {
    background-color: #2C3E50;
    height: 200px;
    color: white;
    padding: 16px;
    text-align: center;
    position: relative;
}

main {
    max-width: 1200px;
    margin: 6px auto;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 8px;
}

/* global class */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.relative-container {
    overflow: hidden;
    position: relative;
}

.fansy-drop-shadow {
    top: -64px;
    position: relative;
    box-shadow: -1rem 1rem 0 0 rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 32px;
}

.fansy-drop-shadow::after {
    content: "";
    position: absolute;
    top: 3rem;
    right: -3rem;
    bottom: -3rem;
    left: 3rem;
    z-index: -1;
    opacity: 0.6;
    mix-blend-mode: multiply;
    background:     repeating-linear-gradient( 0deg, transparent, transparent 2px, #fff 2px, #fff 10px ),
                    repeating-linear-gradient( -90deg, #2C3E50, #2C3E50 2px, #fff 2px, #fff 10px );
}